[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dependencies/benchmark"]
	path = dependencies/benchmark
	url = git@github.com:google/benchmark.git
